version: '3.8'
services:
  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app:delegated
    environment:
      - DJANGO_SETTINGS_MODULE=exam_system.settings
    depends_on: []
